body {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

.app-container,
.sandpack-conatiner {
  height: 100vh;
}

.markdown-body {
  background-color: inherit !important;
}